{% extends 'webapp/base.html' %}

{% block title %} About Us {% endblock %}

{% block body %}

<style>
    /* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

div.a {
    text-align: center;
}

</style>

<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">About Us</h5>
        <div class="a">
            <p> Smart Rent team offers a review aggregator and platform to provide more information about rental properties. </p>
            <p> Through Smart Rent, the customers are delivered a one-site solution for rental property finding, comparing and rating. </p>
            <p> Our innovative product, Smart Rent, helps you to find a place to live, faster, smoother, and hassle-free. </p>
            <p> We aim to provide university students a place to get the information they need at a glance,
                <br>rather than searching on different websites, copying the address and pasting to Google Map, and calculating the distance and the duration to their uni.  </p>
            <p> We aim to make students get rid of the hostile agents, bad landlords and properties with hidden defects.<br>
            Meanwhile, highlight the agents and landlords with good reputations, along with the satisfying properties.</p>
            <p> Rate your agent, comment on your property, join our campaign to make the market transparent and fair!<br></p>

        </div>
        <h5 class="section-title h1">PEOPLE</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/19554453_1984989411778748_7379426525096386860_n.jpg?_nc_cat=0&oh=f344de215e48e6f04d6d8bfcc89eab2b&oe=5B7634DE" alt="card image"></p>
                                    <h4 class="card-title"><br>Bowen Rao</h4>
                                    <p class="card-text"><br>Full-Stack Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Bowen Rao</h4>
                                    <p class="card-text"><br>Graduate student at The University of Melbourne<br><br>Enthusiasm about tech, self-motivated and optimistic full-stack developer</p>
                                    <ul class="list-inline">
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/profile.php?id=100008031251378">-->
                                                <!--<i class="fa fa-facebook"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/bowenrao/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-twitter"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-skype"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-google"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/32861067_982768888563521_3134717542099058688_n.jpg?_nc_cat=0&oh=8a15ddaccd7a7f009ea4dfac2102d079&oe=5B7ED5B1" alt="card image"></p>
                                    <h4 class="card-title"><br>Zizhe Ruan</h4>
                                    <p class="card-text"><br>Backend Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Zizhe Ruan</h4>
                                    <p class="card-text"><br>Graduate student at The University of Melbourne<br><br>Master of Information Technology</p>
                                    <ul class="list-inline">
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/zizhe.ruan">-->
                                                <!--<i class="fa fa-facebook"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/zizheruan/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-twitter"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-skype"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-google"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/17626275_796233357192426_1672271910274455237_n.jpg?_nc_cat=0&oh=8fd93a253bd906895d58471a47ff1208&oe=5B884BA5" alt="card image"></p>
                                    <h4 class="card-title"><br>Tenglun Tan</h4>
                                    <p class="card-text"><br>Backend Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Tenglun Tan</h4>
                                    <p class="card-text"><br>Graduate student at The University of Melbourne<br><br>Master of Information Technology</p>
                                    <ul class="list-inline">
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/tenglun.tan">-->
                                                <!--<i class="fa fa-facebook"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/tenglun-tan-85864772/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-twitter"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-skype"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-google"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/14046040_1579197372375611_8801223477747591032_n.jpg?_nc_cat=0&oh=0996757f4f831880763d491a3baf789c&oe=5B8DFE77" alt="card image"></p>
                                    <h4 class="card-title"><br>Zhe Xu</h4>
                                    <p class="card-text"><br>Web Crawler Developer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Zhe Xu</h4>
                                    <p class="card-text"><br>Graduate student at The University of Melbourne<br><br>Master of Information Technology</p>
                                    <ul class="list-inline">
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/jimmy.z.xu">-->
                                                <!--<i class="fa fa-facebook"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/哲-许-a75b4b123/">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-twitter"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-skype"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="list-inline-item">-->
                                            <!--<a class="social-icon text-xs-center" target="_blank" href="#">-->
                                                <!--<i class="fa fa-google"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->



        </div>
    </div>
</section>
<!-- Team -->

{% endblock %}



