{% extends 'webapp/base.html' %}

{% block title %}Detail Page {% endblock %}

{% block body %}
<style>
    .jumbotron {
        height: 30%;
        width: 75%;
    }

    #headimg {
        max-width: 100%;
        max-height: 100%;
    }

    button {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .poperty-details-iob li {
        margin: 0;
        padding: 8px 15px;
        display: inline-block;
        font-family: 'Roboto';
        color: #333;
        border-right: #e5e5e5 1px solid;
    }

    .poperty-details-iob li span {
        font-size: 22px;
        color: #000;
    }

    #pricetag {
        color: #985f0d;
        font-size: large;
    }

    .agent {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        align-content: center;
    }

    .headq {
        position: relative;
    }

    .original:hover{
        background-color: #d4d4d4;
    }

    .original{margin:10px; padding:10px 15px; display:inline-block; background-color: #23527c; border-radius:20px; color:#fff !important; float: right}


</style>

<link href="narrow-jumbotron.css" rel="stylesheet">
<div class="container">


    <div class="jumbotron">

        <h4 class="display-3">{{resource.property.address}}</h4>
        <div class="row marketing headq">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img id="headimg" src="{{resource.property.house_img }}" class="img-responsive">

                <ul class="poperty-details-iob">
                    <li id="pricetag">${{ resource.price }} per week</li>
                    <li>{{ resource.property.no_bed }} <i class="fa fa-bed" style="font-size:24px"></i></li>
                    <li>{{ resource.property.no_bath }} <i class="fa fa-bath" style="font-size:24px"></i></li>
                    <li></li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="agent">
                    <img class="agentimg img-circle img-responsive" src="{{resource.agency.agent_img}}" width="60%"
                         height="60%">
                    <p class="agentname ">{{resource.agency.name}}</p>
                    <br>
                    <br>
                    <a href="{{ resource.link }}" class="original" role="button">More Info</a>
                </div>


            </div>
        </div>
        <!--<img id="headimg" src="{{resource.property.house_img }}" class="img-responsive">-->

        <!--<ul class="poperty-details-iob">-->
        <!--<li id="pricetag">${{ resource.price }}/Week</li>-->
        <!--<li>{{ resource.property.no_bed }} <i class="fa fa-bed" style="font-size:24px"></i></li>-->
        <!--<li>{{ resource.property.no_bath }} <i class="fa fa-bath" style="font-size:24px"></i></li>-->
        <!--<li></li>-->
        <!--</ul>-->


    </div>

    <div class="row marketing">
        <div class="col-lg-6 col-md-4 col-sm-4">
            <dl class="param param-feature">
                <dt>Tenants Rating on this Property:</dt>
            </dl>  <!-- item-property-hor .// -->
            <dl class="param param-feature">
                <dt>Location</dt>
                <dd>{{ resource.property.loc_rating }}</dd>
            </dl>  <!-- item-property-hor .// -->

            <dl class="param param-feature">
                <dt>Facility</dt>
                <dd>{{ resource.property.fac_rating }}</dd>
            </dl>  <!-- item-property-hor .// -->

            <dl class="param param-feature">
                <dt>Transportation</dt>
                <dd>{{ resource.property.tran_rating }}</dd>
            </dl>  <!-- item-property-hor .// -->

        </div>

        <div class="col-lg-6 col-md-4 col-sm-4">
            <dl class="param param-feature">
                <dt>Tenants Rating on this Agent:</dt>
            </dl>  <!-- item-property-hor .// -->
            <dl class="param param-feature">
                <dt>Friendliness</dt>
                <dd>{{ resource.agency.fri_rating }}</dd>
            </dl>  <!-- item-property-hor .// -->

            <dl class="param param-feature">
                <dt>Response Rate & Speed</dt>
                <dd>{{ resource.agency.res_rating }}</dd>
            </dl>  <!-- item-property-hor .// -->

            <dl class="param param-feature">
                <dt>Bond Refund</dt>
                <dd>{{ resource.agency.bond_rating }}</dd>
            </dl>  <!-- item-property-hor .// -->


        </div>
    </div>

    <hr>

    <!--rating section-->
    <div class="row marketing">

        <form method="post" action="/webapp/update-rating/">
            {% csrf_token %}
            <!--property ratings-->
            <div class="col-lg-6 col-md-4 col-sm-4">
                <p>Rate the location</p>
                <input name="loc-rating" type="number" value="" min="0" max="5">

                <p>Rate the facility</p>
                <input name="fac-rating" type="number" value="" min="0" max="5">


                <p>Rate the Transportation</p>
                <input name="tran-rating" type="number" value="" min="0" max="5">
            </div>
            <!--agent ratings-->
            <div class="col-lg-6 col-md-4 col-sm-4">
                <p>Rate the Friendliness</p>
                <input name="fri-rating" type="number" value="" min="0" max="5">


                <p>Rate the Response Rate & Speed</p>
                <input name="res-rating" type="number" value="" min="0" max="5">


                <p>Rate the Bond Refund </p>
                <input name="bond-rating" type="number" value="" min="0" max="5">

            </div>

            <input type="hidden" name="resource-id" value="{{resource.id}}">

            <button type="submit" value="Submit">
                <span class="glyphicon glyphicon-user">Submit</span>
            </button>


        </form>


    </div>


</div> <!-- /container -->


{% endblock %}