{% extends 'webapp/base.html' %}
{% load static from static %}

{% block title %} This is the Index Page {% endblock %}

{% block body %}
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <!--<h1>SMART RENT</h1>-->
                    <h1>Student-Oriented Rental Platform</h1>
                    <!--<hr class="intro-divider">-->

                    <!--Search Bar-->

                    <form class="" action="/webapp/search-basic/" method="post">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-3">
                            <div id="imaginary_container">
                                <div class="input-group stylish-input-group ">


                                    {% csrf_token %}

                                    <input id="search" type="text" class="form-control" name="basic-input"
                                           placeholder="Search by university, suburb or postcode">
                                    <span class="input-group-addon">
                                                <button type="submit" value="Submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                             </span>


                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a name="services"></a>


<div class="content-section-b">

    <div class="container">

        <div class="row">

            <!--Advanced Search-->
            <div class="col-lg-5  col-sm-6">
                <div class="well">
                    <h3 align="center">Advanced Search</h3>

                    <form class="form-horizontal" action="/webapp/search-advanced/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="location1" class="control-label">University </label>
                            <select class="form-control" name="uni-name" id="location1" value="Any" required>
                                <option value="Any">Any</option>
                                <option value="University of Melbourne">University of Melbourne</option>
                                <option value="RMIT University">RMIT University</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="range" class="control-label">Max. Distance to your university</label>
                            <select class="form-control" name="distance-range" id="range" value="Any" required>
                              <option value="12000">Any</option>
                              <option value="500">500 m</option>
                              <option value="1000">1 km</option>
                              <option value="3000">3 km</option>
                              <option value="6000">6 km</option>
                              <option value="100000">10 km</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="type1" class="control-label">Property Type</label>
                            <select class="form-control" name="house-type" id="type1" value="Any" required>
                                <option value="any">Any</option>
                                <option value="house">House</option>
                                <option value="apartment">Apartment</option>
                                <option value="studio">Studio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pricefrom" class="control-label">Max. Price pw</label>
                            <div class="input-group">

                                <i class="glyphicon glyphicon-usd input-group-addon"></i>
                                <!--<div class="input-group-addon" id="basic-addon1">$</div>-->
                                <input type="text" class="form-control" name="max-price" id="pricefrom"
                                       aria-describedby="basic-addon1" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="priceto" class="control-label">Bedroom Number</label>
                            <div class="input-group">
                                <!--<div class="input-group-addon" id="basic-addon2">$</div>-->
                                <i class="glyphicon glyphicon-bed input-group-addon"></i>
                                <input type="text" class="form-control" name="bed-num" id="priceto"
                                       aria-describedby="basic-addon1" >
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger glyphicon glyphicon-search" value="Submit"></button>
                        <!--<p class="text-center"><a href="#" class="btn btn-danger glyphicon glyphicon-search" role="button"></a></p>-->
                    </form>
                </div>
            </div>


            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">How to start your rental journey:</h2>
                <!--<hr class="section-heading-spacer">-->
                <hr>
                <div class="clearfix"></div>
                <h2 class="section-heading">Smart Searching</h2>
                <p class="lead">Type your university, preferred suburb or postcode in the search bar above to start a basic fuzzy search.</p>
                <p class="lead">Or select your university and distance range on the left side to start a precise search. All fields are optional.</p>
                <h2 class="section-heading">Smart Sorting</h2>
                <p class="lead">Searching by uni? Properties nearest the uni would show first. Results come with distance and duration to your uni.</p>
                <p class="lead">Doesn't care about distance? Results would be prioritised by price and bedrooms.</p>

            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <!--<hr class="section-heading-spacer">-->
                <div class="clearfix"></div>
                <h2 class="section-heading">Smart Aggregation</h2>
                <p class="lead">Based on the locations of universities, we've gathered the rental information from <a target="_blank" href="https://www.realestate.com.au/rent">Realestate</a>
                    and <a target="_blank" href="https://www.domain.com.au/?mode=rent">Domain</a> for you.</p>
                <p class="lead">Enjoy selecting and comparing without the hassle of repeat searching on different websites, we got all the rental information you need.</p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                <img class="img-responsive" src="{% static 'webapp/img/agents.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <!--<hr class="section-heading-spacer">-->
                <div class="clearfix"></div>
                <h2 class="section-heading">Smart Rating and Review</h2>
                <p class="lead">Fear of hostile agents? Worry about your bond? Angry with slow responses from agents?<br>See the ratings and comments of the agents to avoid them!</p>
                <p class="lead">Fear of hidden defects? Worry about facility condition and transportation?<br>We offer the ratings and comments of the property!</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" id="rmit" src="{% static 'webapp/img/review.png' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
<!--A Rental Platform Created By Students and For Students-->
</div>
<!-- /.content-section-b -->





<div class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <!--<hr class="section-heading-spacer">-->
                <div class="clearfix"></div>
                <h2 class="section-heading">Story of Smart Rent</h2>
                <p class="lead">Smart Rent is a review aggregator platform created by students and for students. We have suffered from what you are suffering, we know what you need.</p>
                <p class="lead">We are working on more universities and rental websites. Sign up with your uni email account today to begin your journey. Together, we can make the
                    market transparent and fair!</p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                <img class="img-responsive" src="{% static 'webapp/img/agentWomanIcon.jpg' %}" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->






<!--<div class="content-section-a">-->

<!--<div class="container">-->

<!--<div class="row">-->
<!--<div class="col-lg-5 col-sm-6">-->
<!--<hr class="section-heading-spacer">-->
<!--<div class="clearfix"></div>-->
<!--<h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>-->
<!--<p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>-->
<!--</div>-->
<!--<div class="col-lg-5 col-lg-offset-2 col-sm-6">-->
<!--<img class="img-responsive" src="{% static 'webapp/img/city.jpg' %}" alt="">-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; /.content-section-a &ndash;&gt;-->

<a name="contact"></a>
<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>CONTACT  US</h2>
            </div>
            <div class="col-lg-offset-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SmartRent_AU" class="btn btn-default btn-lg"><i
                                class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <!--<li>-->
                        <!--<a href="https://github.com/ZizheRuan/Smart-Rent-CIS-2" class="btn btn-default btn-lg"><i-->
                                <!--class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>-->
                    <!--</li>-->
                    <li>
                        <a href="https://www.linkedin.com/company/smartrent-au/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span
                                class="network-name">Linkedin</span></a>
                    </li>
                    <!--<li>-->
                        <!--<a href="https://github.com/ZizheRuan/Smart-Rent-CIS-2" class="btn btn-default btn-lg"><i-->
                                <!--class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

{% endblock %}



