{% extends 'webapp/base.html' %}
{% load static from static %}

{% block title %} This is the Index Page {% endblock %}

{% block body %}
        <!-- Header -->
    <a name="about" ></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>SMART RENT</h1>
                        <h3>A Rental Platform Created by Students and For Students</h3>
                        <hr class="intro-divider">

                        <!--Search Bar-->

                        <form class="" action="/webapp/search-basic/" method="post">

                             <div class="col-lg-6 col-md-6 col-sm-6 col-sm-offset-3">
                                <div id="imaginary_container">
                                    <div class="input-group stylish-input-group ">


                                             {% csrf_token %}

                                             <input id="search" type="text" class="form-control" name="basic-input" placeholder="Search Your Uni" >
                                             <span class="input-group-addon">
                                                <button type="submit" value="Submit">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                             </span>


                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

        <!-- Page Content -->

	<a  name="services"></a>


    <div class="content-section-b">

        <div class="container">

            <div class="row">

                 <!--Advanced Search-->
                <div class="col-lg-5  col-sm-6">
                      <div class="well">
                      <h3 align="center">Search Filter</h3>

                        <form class="form-horizontal" action="/webapp/search-advanced/" method="post" >
                            {% csrf_token %}
                          <div class="form-group">
                            <label for="location1" class="control-label">University</label>
                            <select class="form-control" name="uni-name" id="location1" value="Any">
                              <option value="Any">Any</option>
                              <option value="University of Melbourne">University of Melbourne</option>
                              <option value="RMIT University">RMIT University</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="type1" class="control-label">Type</label>
                            <select class="form-control" name="house-type" id="type1" value="Any">
                              <option value="any">any</option>
                              <option value="house">house</option>
                              <option value="apartment">apartment</option>
                              <option value="studio">studio</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="pricefrom" class="control-label">Max Price</label>
                            <div class="input-group">
                              <div class="input-group-addon" id="basic-addon1">$</div>
                              <input type="text" class="form-control" name="max-price" id="pricefrom" aria-describedby="basic-addon1">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="priceto" class="control-label">Bed Size</label>
                            <div class="input-group">
                              <div class="input-group-addon" id="basic-addon2">$</div>
                              <input type="text" class="form-control" name="bed-num" id="priceto" aria-describedby="basic-addon1">
                            </div>
                          </div>
                          <button type="submit" class="btn btn-danger glyphicon glyphicon-search" value="Submit"></button>
                          <!--<p class="text-center"><a href="#" class="btn btn-danger glyphicon glyphicon-search" role="button"></a></p>-->
                        </form>
                      </div>
                </div>


                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Search Based On Your<br>Preference</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>



    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Death to the Stock Photo:<br>Special Thanks</h2>
                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                    <img class="img-responsive" src="{% static 'webapp/img/school.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">3D Device Mockups<br>by PSDCovers</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'webapp/img/RMIT.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'webapp/img/city.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Contact Us</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/swatghc/Smart-Rent-CIS" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

{% endblock %}



