{% extends 'webapp/base.html' %}

{% block title %}Advance Search Result Page {% endblock %}

{% block body %}
<link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
<style>
    body {
        font-family: 'Roboto';
    }

    .listing-box h4 {
        line-height: 30px;
        color: #e55122
    }

    .listing-box {
        background: #f2f4f4;
        padding: 20px;
        float: left;
        width: 70%;
        height: 410px
    }

    .poperty-details-iob {
        margin: 5px 0;
        padding: 8px 0;
        display: inline-block;
        border-top: #e5e5e5 1px solid;
        border-bottom: #e5e5e5 1px solid;
        width:;
    }

    .poperty-details-iob li {
        margin: 0;
        padding: 8px 15px;
        display: inline-block;
        font-family: 'Roboto';
        color: #333;
        border-right: #e5e5e5 1px solid;
    }

    .poperty-details-iob li span {
        font-size: 22px;
        color: #000;
    }

    .listing-box p {
        font-size: 12px;
        color: #838383;
    }

    .list-of-ratings {
        margin: auto;
        padding: 0;
        display: block;
        width: fit-content;
        float: left;
        position: relative;
    }

    .list-of-ratings li {
        margin: 0;
        padding: 10px 15px 0px 0px;
        display: block;
        width: 100%;
        font-size: 16px;
    }

    .mr-iob-blr {
        margin-top: 20px;
    }

    .listing-box ul li a {
        color: #e55122;
    }

    /*.cls-for-btn-listing{margin:auto; padding:0; display:inline-block; text-align:center; width:100%; margin-top:130px;}*/
    /*.cls-for-btn-listing li{margin:auto; padding:0; display:inline-block; }*/
    /*.cls-for-btn-listing li a{margin:auto; padding:10px 15px; display:inline-block; background:#e55122 !important; border-radius:20px; color:#fff !important; }*/
    .star-list-iob {
        margin: 16px 0;
        padding: 0;
        display: block;
        position: relative;
        float: right
    }

    .star-list-iob li {
        margin: 0;
        padding: 0 3px;
        display: block;
    }

    /*.rating-box-iob{background:#e55122; padding:8px; border-radius:5px; position:absolute; color:#fff; right:20px; margin-top:40px;}*/
    .rating-box-iob {
        background: #e55122;
        padding: 4px;
        border-radius: 5px;
        color: #fff;
        right: 20px;
        margin-top: 40px;
    }

    #pricetag {
        color: #03a1d1;
        font-size: large
    }

    .detail {
        margin: 10px;
        padding: 10px 15px;
        display: inline-block;
        background-color: #23527c;
        border-radius: 20px;
        color: #fff !important;
        /*float: right*/
    }

    .agentimg {
        float: left;
    }

    .col-md-3 {
        width: 50%;
    }

    .agentname {
        margin: 30px 10px 10px 10px;
    }

    .detail:hover {
        background-color: #d4d4d4;
    }

    #noresult {
        height: 600px;
        text-align: center;
        position: relative;

    }

    #nomatch {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        align-content: center;

    }
        a {
        color:#e55122;
    }
</style>


<hr class="intro-divider">
<div style="background-color:#e8e8e8">
    {% if result_advanced %}

    {% for resource in result_advanced %}
    <section class="listing-page-builing">
        <div class="container">
            <div class="row">
                <div class="listing-box">

                    <div class="col-lg-5 col-md-6 mr-iob-blr">

                        <img alt="image" class="img-responsive" src="{{ resource.property.house_img }}">
                        <br>
                        <a href="{% url 'webapp:detail' resource.id %}" class="detail" role="button">View Detail</a>
                        <br>
                        <hr>

                    </div>


                    <div class="col-md-6">
                        <h4><strong><a href="{% url 'webapp:detail' resource.id %}">{{ resource.property.address }} </a></strong><br/>
                        </h4>
                        <ul class="poperty-details-iob">
                            <li id="pricetag">${{ resource.price }}</li>
                            <li>{{ resource.property.no_bed }} <i class="fa fa-bed" style="font-size:24px"></i></li>
                            <li>{{ resource.property.no_bath }} <i class="fa fa-bath" style="font-size:24px"></i></li>
                            <br> <img class="agentimg img-circle img-responsive" src="{{resource.agency.agent_img}}"
                                      width="30%" height="30%">
                            <p class="agentname">{{resource.agency.name}}</p>
                            <li></li>
                        </ul>

                        <ul class="list-of-ratings">

                            <li><br/><strong>Agent Ratings:&nbsp&nbsp</strong><span
                                    class="rating-box-iob" id="aratings-{{forloop.counter}}">5</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong>
                                Property Ratings:&nbsp&nbsp</strong><span class="rating-box-iob"
                                                                          id="pratings-{{forloop.counter}}">2</span></li>

                            <!--<li><strong>Property Ratings:&nbsp&nbsp</strong><span class="rating-box-iob"-->
                                                                                       <!--id="pratings-{{forloop.counter}}">2</span>-->
                            <!--<br>-->
                            <!--</li>-->
                            <li id="showdistance-{{forloop.counter}}", style="font-family:'Noticia Text', serif; font-size: 13px; color:#23527c"><strong>Distance from <span
                                    id="uniname-{{forloop.counter}}">Uni</span>:  <span id="distance-{{forloop.counter}}">1000m</span>m</strong>
                            </li>
                            <li id="showduration-{{forloop.counter}}", style="font-family:'Noticia Text', serif; font-size: 13px; color:#23527c "><strong>Duration of walk: <span id="duration-{{forloop.counter}}">1000m</span></strong>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">

        var uni = "{{uniName}}";
        console.log(uni);
        document.getElementById("uniname-{{forloop.counter}}").innerHTML = uni;
        if (uni === "RMIT University") {
            var distance1 = "{{resource.property.distance_rmit}}";
            var duration1 = "{{resource.property.duration_rmit}}";
            console.log("{{resource.property.distance_rmit}}");
            document.getElementById("distance-{{forloop.counter}}").innerHTML = distance1;
            document.getElementById("duration-{{forloop.counter}}").innerHTML = duration1;
        } else if (uni === "University of Melbourne") {
            var distance2 = "{{resource.property.distance_umel}}";
            var duration2 = "{{resource.property.duration_umel}}";
            document.getElementById("distance-{{forloop.counter}}").innerHTML = distance2;
            document.getElementById("duration-{{forloop.counter}}").innerHTML = duration2;
        } else {
            document.getElementById("showdistance-{{forloop.counter}}").style.display = "none";
            document.getElementById("showduration-{{forloop.counter}}").style.display = "none";
        }

        var loc_rating = "{{resource.property.loc_rating}}";
        var fac_rating = "{{resource.property.fac_rating}}";
        var tran_rating = "{{resource.property.tran_rating}}";
        var index = "{{forloop.counter}}";
        var property_avg = (Number(loc_rating) + Number(fac_rating) + Number(tran_rating)) / 3;
        var fri_rating = "{{resource.agency.fri_rating}}";
        var res_rating = "{{resource.agency.res_rating}}";
        var bond_rating = "{{resource.agency.bond_rating}}";
        var agent_avg = (Number(fri_rating) + Number(res_rating) + Number(bond_rating)) / 3;
        document.getElementById('aratings-{{forloop.counter}}').innerHTML = agent_avg.toFixed(1);
        document.getElementById('pratings-{{forloop.counter}}').innerHTML = property_avg.toFixed(1);
    </script>


    <hr>


    {% endfor %}

    {% else %}
    <div id="noresult">
        <br>
        <br>
        <br>
        <br>

        <h1 id="nomatch">No Result Match</h1>

    </div>


    {% endif %}


</div>


{% endblock %}