<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Data Here</title>
</head>
<body>
    <h1>Your crawled data are shown here</h1>
    <br>
    <p>{{page}}</p>
    <br>
    <h2>Your house type:</h2>
    <p>{{house_type}}</p>
    <br>
    <h2>Your Original Link:</h2>
    <p>{{original_link}}</p>
    <br>
    <h2>Your agency image URL:</h2>
    <p>{{agent_img}}</p>
    <br>
    <h2>Your House image URL:</h2>
    <p>{{house_img}}</p>
    <br>
    <h2>Your agent name:</h2>
    <p>{{agent_name}}</p>
    <br>
    <h2>Your house price:</h2>
    <p>{{price}}</p>
    <br>
    <h2>Your house location:</h2>
    <p>{{location}}</p>
    <br>
    <h2>Your bed number:</h2>
    <p>{{bed}}</p>
    <br>
    <h2>Your bathroom number:</h2>
    <p>{{bath}}</p>
</body>
</html>