{% extends 'webapp/base.html' %}

{% block title %}Basic Search Result Page {% endblock %}

{% block body %}
<style>
    #showing{
        height:600px;
        width:75%;
        text-align: center;
    }
</style>

<hr class="intro-divider">
<div class="container-fluid" style="background-color:#e8e8e8">

<hr>
<div id="showing">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Your ratings have been submitted successfully</h1>
    <h2>Thank you for your feedback</h2>

</div>


</div>

{% endblock %}
